body{
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body .bodypara {
    text-align: center;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 10px;
    background: #005c97
}

body a {
    text-decoration: none;
}

body .center {
    width: 80%;
    margin: 0 auto;
}

body .footer {
    width: 80%;
    margin: 0 auto;
    background: #005c97;
}

.head {
    width: 1481px;
}

.navbar {
    position: fixed;
    background-color: #005c97;
    width: 100%;
    height: 85px;
}

.headimg img {
    width: 100%;
    margin-bottom: -4px;
    display: inline-block;
}

.navdropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.dropdownbutton {
    color: white;
    font-size: 20px;
    background-color: #005c97;
    border: none;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

.navdropdownmenu {
    display: none;
    position: absolute;
    background-color: #005c97;
    width: 130px;
    padding: 10px 50px 10px 0px;
}

.navdropa:hover {
    background-color: #01263d;
}

.navdropa {
    width: 100%;
    padding-top: 5px;
    display: block;
    text-align: left;
}

.navdropdown:hover .navdropdownmenu {
    display: block;
}

.navhead {
    padding-left: 70px;
    padding-right: 70px;
    float: right;
    height: 100%;
}

.navhead a{
    color: white;
    padding-left: 50px;
    font-size: 20px;
    display: inline-block;
}

.headlogo {
    height: 62,4px;
    display: inline-block;
    padding-inline-start: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-inline-end: 70px
}

.navlogo {
    height: 100%;
}

.centercenter1hr {
    width: 47%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: black;
}

.centercenter1 {
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    margin-bottom: 0px;
}

.imgcenter1 {
    width: 30%;
    margin-top: auto;
    margin-top: auto;
}

.divcenter1 {
    width: 70%;
    margin-top: 50px;
}

.centeraboutcontenthr {
    width: 14%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    background-color: black;
}

.centeraboutcontent {
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    margin-bottom: 0px;
}

.centeraboutdiv {
    display: flex;
    flex-direction: row;
}

.centeraboutdiv1 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.centeraboutpara {
    color: #005b97;
    margin-bottom: 30px;
    margin-top: 30px;
    background: #f8f9fa;
    width: 1495.2px;
    margin-left: -148px;
    padding: 30px;

}

.centeraboutpara p {
    width: 85%;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 15px;
}

.centersystem {
    margin-bottom: 90px;
}

.centersystemcontenthr {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    background-color: black;
}

.centersystemcontent {
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    margin-bottom: 0px;
}

.systemtable {
    width: 100%;
}

.systemtd {
    width: 50%;
}

.systemdiv {
    display: flex;
}

.systemdivpara {
    padding-left: 10px;
}

.systemdivpara a {
    width: 18%;
    border-radius: 5px;
    background-color: #D95284;
    border: 1px solid #D95284;
    padding: 5px 10px 5px 10px;
    color: #fff;
}


.centersupport {
    width: 1495.2px;
    margin-left: -148px;
    background: #005c97;
    margin-bottom: 90px;
}

.supportimg {
    width: 30%;
    height:100%;
    margin-bottom: -4px;
}

.suphr {
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 40px;
}

.supdiv {
    width: 70%;
    float: right;
    color: white;
    margin-top: 72px;
}

.supportpara {
    width: 63%;
    margin: 0 auto;
    font-size: 20px;
}

.centercontact {
    margin-bottom: 90px;
}

.contactcontent {
        text-align: center;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-top: 50px;
        margin-bottom: 0px;
}

.contacthr {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 40px;
    background-color: black;
}

.contactpara {
    width: 50%;
}

.contactpara p {
    width: 70%;
    margin: 0 auto;
}

.contactform {
    width: 50%;
    float: right;
}

.contactform form {
    margin: 0 auto;
}

.divform {
    margin-bottom: 10px;
    width: 100%;
}

.textinput {
    border: 1px solid;
    border-radius: 3px;
    width: 100%;
}

input[type="text" i] {
    padding: 10px 10px;
}

.buttonform {
    color: #d95284;
    background-color: #fff;
    border-color: #d95284;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
}

button[type="submit" i] {
    padding: 7px 20px;
}

.footer {
    padding-top: 0;
    height: 440px;
}

.footer div {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 15px;
}

.logofooter img {
    display: block;
    margin: 0 auto;
}

.ul1 {
    color: white;
}

.footer .ulcontact1 {
    width: 90%;
    padding-left: 20px;

}

.licontact {
    padding-left: 25px;
}

.footer .ulcontact1 li .ulcontact2 {
    width: 40%;
    padding: 0;
    margin: 0;

}

.footer .ulcontact1 li .ulcontact3 {
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
}

.uloffice {
    padding-left: 4px;
    color: white;
}

.uloffice1 {
    padding-bottom: 10px;
}

.ulpage {
    color: white;
}

.page-link {
    color: white;
}

.footer ul {
    list-style-type: none;

}

.footer li {
    width: 90%;
    
}

